input[type="radio"] {
  margin-top: 0px;
  vertical-align: middle;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}


.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.afastaPraBaixo{
	margin-top: 10px;
}

.afastaProLado{
	margin-right: 10px;
	text-align: left;
}

.afastaPraCima{
	margin-bottom: 20px;

}

.alignCenter{
	 text-align: center;
}

.alignRight{
	float: right;
}

.form-control-inline {
	min-width: 0;
    width: auto;
    display: inline ;

}

.borda {
    border: 1px solid lightgray;
    border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.alinha-col {
	margin-left: 0px;
}

.alignBottom{
    padding-left: 5px;
    vertical-align: bottom
}

.alinhaBtn{
	margin-top: 22px;
}

.horizontal.large-filled-symbols ul.steps-indicator li.done:after {
    background-color: red;
    color: black;
}