<form class="form-horizontal" [formGroup]="empenhoForm" (ngSubmit)="onSubmit()">



<wizard  navBarLayout="large-filled-symbols">

<div class="container-fluid">
<!-- Início Empenho Form -->

<wizard-step title="Passo 1" navigationSymbol="1">

<!-- Início Empenho>Credor form -->

<collapsible-panel title="Novo Empenho" visible="true">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="unidadeEmp">Gestão:</label>
              <input class="form-control" id="gestaoEmp" disabled="true"  placeholder="Gestão do Usuário" formControlName="gestao_emp">
              <!--<option>1 Gestão é label</option>
                  <option>2 Gestão é label</option>
                  <option>3 Gestão é label</option>
                  <option>4 Gestão é label</option>
                  <option>5 Gestão é label</option> -->
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label for="unidadeEmp">Unidade Gestora:</label>
              <select class="form-control" id="unidadeEmp" formControlName="unidade_gestora">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group alinha-col">
          <label for="eventoEmp">Evento:</label>
          <input class="form-control" 
          type="text"  
          id="eventoEmp" 
          placeholder="Evento" 
          formControlName="evento">
        </div>
      </div>
    </div>

<div class="row">
<div class="col-md-12">
<div class="col-md-3">  

  <div class="form-group" id="modalidadeEmp">
      <label for="modalidadeEmp"> Modalidade:
      </label>      
      <br>
    <div class="borda">
     <label class="radio-inline">
          <input type="radio" id="q128" name="quality[21]" value="ordinario" checked="checked" /> Ordinário
      </label>
  
      <label  class="radio-inline">
          <input type="radio" id="q129" name="quality[21]"  value="global" /> Global
      </label>
  
      <label  class="radio-inline">
          <input type="radio" id="q130" name="quality[21]" value="estimativo" /> Estimativo
      </label>
      </div>

  </div>      
</div> <!-- borda -->

<!-- MENU MODALIDADE -->
<!-- <div class="form-group col-sm-10">
      <label for="eventoEmp">Modalidade:</label>
         <select class="form-control" 
          type="text"  
          id="modalidadeEmp" 
          placeholder="Modalidade" 
          formControlName="modalidade">
        <option>Ordinario</option>
        <option>Global</option>
        <option>Estimativo</option>
        </select>
    </div>  -->
 <div class="col-md-6 afastaProLado"> 
  <div class="form-group" id="tipoEmp">
    <label for="tipoEmp"> Tipo:
    </label>
    <br>   
    <div class="borda">
      <label class="radio-inline">
        <input type="radio" id="q131" name="quality[22]" value="repasse" checked="checked"/> Repasse
      </label>
    
      <label class="radio-inline">
        <input type="radio" id="q132" name="quality[22]"  value="suplimento" /> Suplimento
      </label>
        
      <label class="radio-inline">
        <input type="radio" id="q133" name="quality[22]" value="subvencao social" /> Subvenção Social
      </label>
    
      <label class="radio-inline">
        <input type="radio" id="q133" name="quality[22]" value="normal" /> Normal
      </label> 
    </div> <!-- borda -->

  </div>
</div>
</div> 
</div> <!-- row -->

</collapsible-panel>

  <collapsible-panel title="Credor">
  <div class="container" formGroupName="credor">
      
      <div class="row"> 
          <div class="col-sm-4">
            <div class="form-group">
              <label for="tipoEmp"> Tipo Identificação:
              </label>
          
            <div class="borda">
              <label class="radio-inline">
                <input type="radio" id="q134" name="quality[23]" value="cnpj" checked="checked" /> CNPJ
              </label> 

              <label class="radio-inline">
                <input type="radio" id="q135" name="quality[23]"  value="cpf" /> CPF
              </label>

              <label class="radio-inline">
                <input type="radio" id="q136" name="quality[23]" value="ug" /> UG
              </label> 

              <label class="radio-inline">
                <input type="radio" id="q137" name="quality[23]" value="iscricao generica" /> Inscrição Genérica
              </label>
            </div> <!-- borda -->

            </div>
          </div> <!--col sm 4-->
    <label for="eventoEmp">Nº de Identificação:</label>
    <div class="form-inline">
      <div class="input-group" id="tipoEmp">
          <input class="form-control" 
            type="text"  
            id="numIdCred" 
            placeholder="Nº de Identificação" 
            formControlName="num_id">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar Credor</button>
            </span>
      </div>
    </div>
    </div> <!--row-->

        <div class="row">
           <div class="form-group col-sm-8">
            <label for="tipoEmp"> Favorecido:
            </label>
            <input class="form-control" 
              type="text"  
              id="favorecidoCred" 
              placeholder="Favorecido" 
              formControlName="favorecido">          
          </div>
        </div>
        <!-- <div class="row">
          <div class="form-group col-sm-8">
            <label for="tipoEmp"> Gestão:
            </label>
            <input class="form-control" 
              type="text"  
              id="gestaoCred" 
              placeholder="Gestão" 
              formControlName="gestao_cred">
          </div>
          </div> -->
      </div> <!-- credor -->
    </collapsible-panel>
      
      <!-- Fim Empenho>Credor Form -->

      <!-- Início Empenho>Orçamentário Form -->
   
  <collapsible-panel title="Orçamentário" >
    <div class="container" formGroupName="orcamentario">
      <div class="row">
        <div class="col-sm-8">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="ptResumidoOrc"> PT Resumido:
              </label>
              <input class="form-control form-control-inline" 
                type="text"  
                id="ptResumidoOrc" 
                placeholder="166848" 
                formControlName="pt_resumido">
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="form-group">
              <button class="btn btn-default">Buscar Orçamenário</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-1">
              <label for="esferaOrc"> Esfera
              </label>
              <input type="text"  
                id="esferaOrc" 
                placeholder="1" 
                formControlName="esfera">
            </div>
            <div class="col-sm-2">
              <label for="programaTrabalhoOrc"> Programa de Trabalho
              </label>
              <input type="text"  
                id="programaTrabalhoOrc" 
                placeholder="1236214684800000" 
                formControlName="programa_trabalho">
            </div>
            <div class="col-sm-2">
              <label for="uoOrc"> UO
              </label>
              <input type="text"  
                id="uoOrc" 
                placeholder="16101" 
                formControlName="uo">
            </div>

            <div class="col-sm-2">
              <label for="ugResponsavelOrc"> UG Responsável
              </label>
              <input type="text"  
                id="ugResponsavelOrc" 
                placeholder="160101" 
                formControlName="ug_responsavel">
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="planoInternoOrc"> Plano interno:
              </label>
                <input class="form-control form-control-inline" 
                  type="text"  
                  id="planoInternoOrc" 
                  placeholder="4210008312C" 
                  formControlName="plano_interno">
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <button class="btn btn-default">>></button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group ">
              <input class="form-control" 
                type="text"  
                placeholder="CONCESSAO DE AUXILIO TRANSPORTE">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="naturezaDespesaOrc"> Natureza da Despesa:
              </label>
                <input class="form-control form-control-inline" 
                  type="text"  
                  id="naturezaDespesaOrc" 
                  placeholder="333913900" 
                  formControlName="natureza_despesa">
            </div> 
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <button class="btn btn-default">>></button>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" 
                type="text"  
                placeholder="OUTROS SERV. TERC. PJ-OP.INTRA ORCAMENTARIA" >
            </div>
          </div>
        </div>
      </div>
    

     <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="form-group">  
            <label for="fonteRecursoOrc"> Fonte de Recurso:
            </label>
              <input class="form-control form-control-inline" 
                type="text"  
                id="fonteRecursoOrc" 
                placeholder="0101000000" 
                formControlName="fonte_recurso">
          </div>
        </div>

        <div class="col-sm-1">
          <div class="form-group">
            <button class="btn btn-default">>></button>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input class="form-control" 
              type="text"  
              placeholder="RECURSOS PROPRIOS" >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="form-group">
            <label for="valorOrc"> Valor:
            </label>
              <input class="form-control form-control-inline" 
                type="text"  
                id="valorOrc" 
                placeholder="1.937.286,45" 
                formControlName="valor">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <button class="btn btn-default">Verificar Disponibilidade</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </collapsible-panel>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-5"> 
      <div class="form-group">
        <button (click)="initStep2()" [disabled]="!empenhoForm.controls['orcamentario'].valid" type="button" class="btn btn-primary" nextStep>Próximo</button>
        <!-- <button type="button" class="btn btn-warning" goToStep="2">Go directly to third Step</button> -->
      </div>
    </div>
  </div>
    


  </wizard-step>
  <wizard-step title="Passo 2" optionalStep >
    
    <collapsible-panel title="DADOS COMPLEMENTARES (CONTRATUAIS, LEGAIS, ETC.">
    
      <div class="container-fluid" formGroupName="complementar">  
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="acordoComp"> Acordo:
                </label>
                <input class="form-control" 
                  type="text"  
                  id="acordoComp" 
                  placeholder="acordo" 
                  formControlName="acordo">
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="origemComp"> Origem Material:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="origemComp" 
                    placeholder="Origem do Material" 
                    formControlName="origem_material">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="licitacaoComp"> Licitação:
                </label>
                <select class="form-control" id="licitacaoComp" formControlName="licitacao">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="refLegalComp"> Referência Legal:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="refLegalComp" 
                    placeholder="Referência Legal" 
                    formControlName="referencia_legal">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="numProcComp"> Número do Processo:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="numProcComp" 
                    placeholder="Número do Processo" 
                    formControlName="numero_processo">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="numConvenioComp"> Número Convênio:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="numConvenioComp" 
                    placeholder="Número Convênio" 
                    formControlName="numero_convenio">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="aditConvenioComp"> Aditivo Convênio:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="aditConvenioComp" 
                    placeholder="Aditivo Convênio" 
                    formControlName="aditivo_convenio">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="numContratoComp"> Número Contrato:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="numContratoComp" 
                    placeholder="Número Contrato" 
                    formControlName="numero_contrato">
              
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
                <label for="aditContratoComp"> Aditivo Contrato:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="aditContratoComp" 
                    placeholder="Aditivo Contrato" 
                    formControlName="aditivo_contrato">
              </div>
            </div>
          </div>
        </div>
      </div>
    </collapsible-panel>
    <collapsible-panel title="DADOS DA ENTREGA">
      <div class="container-fluid" formGroupName="dados_entrega" >
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group col-sm-10">
      
                <label for="dataComp"> Data Prevista:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="dataComp" 
                    placeholder="Data" 
                    formControlName="data">
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="localComp"> Local:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="localComp" 
                    placeholder="Local" 
                    formControlName="local">
              </div>
            </div>
          </div>
        </div>
        
      </div> 
    
  </collapsible-panel>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
      <div class="col-sm-4">
        
        <button type="button" class="btn btn-warning" previousStep>Anterior</button>
      </div>
      
      <div class="col-sm-4">
        
        <button type="button" class="btn btn-primary" [disabled]="!empenhoForm.get('complementar').valid" nextStep>Próximo</button>
      </div>
      
    </div>
  </div>
  </wizard-step>
  <wizard-step title="Passo 3">
    <collapsible-panel title="Valor da NE">
      <div class="container-fluid" formGroupName="item">  
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="valorNeItem"> Valor da NE:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="valorNeItem" 
                    placeholder="1.937.286,45" 
                    formControlName="valor_ne">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="numSubItem"> Nº DE SUBITENS:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="numSubItem" 
                    placeholder="9" 
                    formControlName="num_subitens">
              </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group col-sm-10">
                <label for="totalSubItem"> TOTAL SUBITENS:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="totalSubItem" 
                    placeholder="77.009,93" 
                    formControlName="total_subitens">
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group col-sm-10">
                  <label for="restanteItem"> RESTANTE:
                  </label>
                    <input class="form-control" 
                      type="text"  
                      id="restanteItem" 
                      placeholder="1.860.276,52" 
                      formControlName="restante">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group col-sm-10">
                  <label for="codigoItem"> Código:
                  </label>
                    <select class="form-control" id="codigoItem" formControlName="codigo">
                      <option>68- RESTITUIÇÕES DIVERSAS</option>
                      <option>68- RESTITUIÇÕES DIVERSAS</option>
                      <option>68- RESTITUIÇÕES DIVERSAS</option>
                      <option>68- RESTITUIÇÕES DIVERSAS</option>
                      <option>68- RESTITUIÇÕES DIVERSAS</option>
                    </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group col-sm-10">
                  <label for="valorItem"> Valor:
                  </label>
                    <input class="form-control" 
                      type="text"  
                      id="valorItem" 
                      placeholder="154.283,69" 
                      formControlName="valor">
              </div>
            </div>
            <!-- <div class="col-sm-2">
              <div class="form-group">
                <button class="btn btn-default alinhaBtn" data-title="Validar">Validar</button>
              </div>
            </div> -->
            <div class="col-sm-2">
              <div class="form-group">
                <button class="btn btn-success alinhaBtn" data-title="Add" (click)="addSubItem(empenhoForm.get('item'))"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </collapsible-panel>
    <div class="container">
      <div class="panel panel-primary">
      
        <div class="panel-body">    
          <table id="mytable" class="table table-bordered table-striped col-md-12">
                           
            <thead>
              <th>Sales ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Mobile Numberl</th>
              <th>Editar</th>
              <th>Deletar</th>
            </thead>
            <tbody formArrayName="subitens" *ngFor="let subitem of formSubitens.controls; let i = index " >
              
              <tr formGroupName="{{i}}">
                  <td>Mohsin</td>
                  <td>{{item.controls['valor_ne'].value}}</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  
                  <td><button class="btn btn-primary btn-xs" data-title="Editar" data-toggle="modal" data-target="#edit" (click)="editItem()" ><span class="glyphicon glyphicon-pencil"></span></button></td>

                  <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="removeSubItem()" ><span class="glyphicon glyphicon-trash"></span></button></td>

                  

              <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                    </div>
                    <div class="modal-body">
                       
                      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja remover este item?</div>
                       
                    </div>
                      <div class="modal-footer ">
                        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                      </div>
                  </div>
                    <!-- /.modal-content --> 
                </div>
                <!-- /.modal-dialog --> 
              </div>
              </tr>

            </tbody>
                
          </table>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-sm-offset-3">
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-warning" previousStep>Anterior</button>
        </div>
        
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-primary" (click)="addParcelas()" [disabled]="!empenhoForm.get('subitens').valid"  nextStep>Próximo</button>
        </div>
        
      </div>
    </div>

  </wizard-step>
  <wizard-step title="Passo 4">
  <collapsible-panel title="Parcelas">
    <div class="container-fluid">  
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="form-group col-sm-10">
              <label for="valorNeEmp"> VALOR DA NE:
              </label>
                <input class="form-control" 
                  type="text"
                  disabled="true" 
                  id="valorNeEmp" 
                  value="{{empenhoForm.controls['item'].controls['valor_ne'].value}}">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group col-sm-10">
              <label for="numParcEmp">Nº PARCELAS:
              </label>
                <input class="form-control" 
                  type="text"
                  disabled="true" 
                  id="numParcEmp" 
                  value="{{total_parcelas}}">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group col-sm-10">
              <label for="totalParcEmp"> TOTAL PARCELAS:
              </label>
              <input class="form-control" 
                type="text" 
                disabled="true" 
                id="totalParcEmp" 
                value="{{empenhoForm.controls['total_parcelas'].value}}">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group col-sm-10">
              <label for="restanteEmp"> RESTANTE:
              </label>
                <input class="form-control" 
                  type="text"  
                  disabled="true" 
                  id="restanteEmp" 
                  value="{{empenhoForm.controls['item'].controls['restante'].value}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </collapsible-panel>
  <div class="container">
  <div class="panel panel-primary">
  <div class="panel-heading"></div>
  <div class="panel-body"> 
      <table id="mytable" class="table table-bordered table-striped">
                       
        <thead>
          <th>-X-</th>
          <th>Mês</th>
          <th>Valor</th>
          
        </thead>
        <tbody formArrayName="parcelas" *ngFor="let parcela of empenhoForm.controls['parcelas'].controls; let i = index " >
          
          <tr formGroupName="{{i}}">
            <td><input type="checkbox"(change)="editaValor(i, parcela)" class="checkthis" /></td>
            <td>{{meses[i]}}</td>
            <input class="form-control" 
              type="text"
              id="valorParc"
              (change)="acrescentaTotalParcelas(parcela)"
              formControlName="valor"
             >
          </tr>

        </tbody>
            
      </table>
 
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-sm-offset-3">
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-warning" previousStep>Anterior</button>
        </div>
        
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-primary" nextStep>Próximo</button>
        </div>
        
      </div>
    </div>
   
  </wizard-step>
  <wizard-step title="Passo 5">
    <collapsible-panel title="Discriminação">
      <div class="container-fluid" formGroupName="discriminacao"> 
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="valorNeEmp"> VALOR DA NE:
                </label>
                  <input class="form-control" 
                    type="text"
                    disabled="true" 
                    id="valorNeEmp" 
                    value="{{empenhoForm.controls['item'].controls['valor_ne'].value}}">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="numParcEmp">Nº PARCELAS:
                </label>
                  <input class="form-control" 
                    type="text"
                    disabled="true" 
                    id="numParcEmp" 
                    value="{{total_parcelas}}">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="totalParcEmp"> TOTAL PARCELAS:
                </label>
                <input class="form-control" 
                  type="text" 
                  disabled="true" 
                  id="totalParcEmp" 
                  value="{{empenhoForm.controls['total_parcelas'].value}}">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="restanteEmp"> RESTANTE:
                </label>
                  <input class="form-control" 
                    type="text"  
                    disabled="true" 
                    id="restanteEmp" 
                    value="{{empenhoForm.controls['item'].controls['restante'].value}}">
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
              <div class="form-group col-sm-10">
                <label for="valorNeEmp"> Item:
                </label>
                  <input class="form-control" 
                    type="text"
                    disabled="true" 
                    id="numItem" 
                    value="{{empenhoForm.controls['discriminacao'].controls['item'].value}}">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group col-sm-10">
                <label for="unidMedidaItem">Unid. Medida:
                </label>
                <input class="form-control" 
                  type="text"
                  id="unidMedidaItem" 
                  formControlName="unidade_medida">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group col-sm-10">
                <label for="qtdItem"> Quantidade:
                </label>
                <input class="form-control" 
                  type="text" 
                  id="qtdItem" 
                  formControlName="quantidade">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="valorUnitItem"> Valor Unitário:
                </label>
                <input class="form-control" 
                  type="text"  
                  id="valorUnitItem" 
                  formControlName="valor_unitario">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group col-sm-10">
                <label for="valorTotItem"> Valor Total:
                </label>
                  <input class="form-control" 
                    type="text"  
                    id="valorTotItem" 
                    formControlName="valor_total">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-10">
              <div class="form-group col-sm-10">
                <label for="descItem"> Descrição:
                </label>
                  <textarea class="form-control" 
                    
                    id="descItem" 
                    formControlName="descricao">
                  </textarea>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group col-sm-2">
                <button class="btn btn-success alinhaBtn" data-title="Add" (click)="addItem(empenhoForm.get('discriminacao'))"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </collapsible-panel>
    

    

  <div class="container">
  <div class="panel panel-primary">
  <div class="panel-heading"></div>
  <div class="panel-body" formGroupName="discriminacao">
      <table id="mytable" class="table table-bordered table-striped">
                       
        <thead>
          <tr>
            <th>Item</th>
            <th>Unid. Medida</th>
            <th>QTD</th>
            <th>Valor Unitário</th>
            <th>Valor Total</th>
            <th>Descrição</th>
          </tr>  
        </thead>
        <tbody formArrayName="itens" *ngFor="let item of formItens.controls; let i = index " >
          
          <tr formGroupName="{{i}}">
              <td>{{i+1}}</td>
              <td> {{item.controls['unidade_medida'].value}} </td>
              <td>{{item.controls['quantidade'].value}}</td>
              <td>{{item.controls['valor_unitario'].value}}</td>
              <td>{{item.controls['valor_total'].value}}</td>
              <td>{{item.controls['descricao'].value}}</td>

              <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="removeItem()" ><span class="glyphicon glyphicon-trash"></span></button></td>

          <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">
                   
                  <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza que deseja remover este item?</div>
                   
                </div>
                  <div class="modal-footer ">
                    <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                  </div>
              </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
          </div>
          </tr>

        </tbody>
            
      </table>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-sm-offset-3">
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-warning" previousStep>Anterior</button>
        </div>
        
        <div class="col-sm-4">
          
          <button type="button" class="btn btn-success">Gerar Empenho</button>
        </div>
        
      </div>
    </div>
  </wizard-step>
</div>
</wizard>
</form>


